.App {
  padding-top: 0;
  margin: 0 auto;
  height: 100%;
  min-width: 375px;
  max-width: 900px;
  min-height: 700px;
  background-image: url(https://mblogthumb-phinf.pstatic.net/MjAxNzExMDhfODkg/MDAxNTEwMTQxNDY0NjU4.iHZbzkJne3tx05gvCxHEwq86NnniLoETYCapvqDBxT0g.nD9XTXjWt4m7ZpP-o_Z-MZNCE-otg4IWRemwquVAUJYg.JPEG.mypetparty/joanna-kosinska-433799.jpg?type=w800);
  background-attachment: fixed;
  background-size: cover;
}
h1 {
  margin: 0 10px;
  height: 100%;
  color: #f7f7f7;
}
.card_list {
  padding-top: 75px;
}
.selectBOx {
  padding-top: 10px;
  position: fixed;
  z-index: 1;
  top: 70;
  min-width: 375px;
  max-width: 900px;
  height: 60px;
  background-color: #51453dd0;
}
.selectBOx,
.card_list {
  flex-direction: row;
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}
select {
  height: 30px;
  background-color: #51453dd0;
  border-radius: 15px;
  width: 80px;
  font-size: small;
  margin: 10px 0;
  display: flex;
  color: #e2e2e2;
  text-align: center;
}
select option[value=""][disabled] {
  display: none;
}
a {
  text-decoration: none;
}
img {
  margin: 0 auto;
  display: block;
  height: 100px;
  border-radius: 10px;
  width: fit-content;
  min-width: 95px;
  max-width: 135px;
  margin: 0 auto;
}
.title {
  display: inline;
  font-size: 13px;
  margin: 0;
}
.theme {
  font-size: 8px;
}
.card {
  width: max-content;
  max-width: 160px;
  background-color: #dcd0c5d9;
  display: inline-block;
  border: 1px solid #606266;
  border-radius: 20px;
  padding: 8px;
  margin: 8px;
  cursor: pointer;
  text-align: center;
}
h6 {
  margin-right: 5px;
  display: inline;
}
