.App {
  padding-top: 0;
  margin: 0 auto;
  height: 100%;
  min-width: 375px;
  max-width: 900px;
  min-height: 700px;
  background: #ada996; /* fallback for old browsers */
  background-image: url("./back.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
@media (max-width: 395px) {
  .info {
    margin: auto 0;
    width: fit-content;
    display: inline;
    text-align: start;
    margin-left: 10px;
  }
  .name {
    display: block;
    width: 100%;
  }
  .card_list {
    padding-top: 100px;
  }
  .card {
    display: flex;
    width: 380px;
  }
  .imgBox .img {
    width: 135px;
  }
  .top {
    right: 0;
  }
}

@media (min-width: 395px) {
  .card_list {
    padding-top: 75px;
  }
}

h1 {
  margin: 0 10px;
  height: 100%;
  color: #f7f7f7;
}
.selectBOx {
  padding-top: 10px;
  position: fixed;
  z-index: 1;
  top: 70;
  min-width: 375px;
  max-width: 900px;
  background: #bab6a4d0;
}
.selectBOx,
.card_list {
  text-align: center;
  flex-direction: row;
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}
select {
  height: 40px;
  background-color: #504e4b53;
  border: none;
  border-radius: 15px;
  width: 80px;
  font-size: small;
  margin: 5px 0;
  display: flex;
  color: #e2e2e2;
  text-align: center;
}
select option[value=""][disabled] {
  display: none;
}
a {
  text-decoration: none;
}
.img {
  min-width: 90px;
  width: auto;
  max-width: 135px;
  height: 100px;
  border-radius: 10px;
  margin: 0 auto;
}
.title {
  display: inline;
  font-size: 13px;
  margin: 0;
  color: #422e00;
}
.theme {
  font-size: 8px;
}
.dong,
.gu_si,
.theme {
  margin: 0;
}
.card {
  background-color: #dcd0c5d9;
  border: 1px solid #b8b1ad;
  border-radius: 20px;
  padding: 8px;
  margin: 8px;
  cursor: pointer;
  text-align: center;
}
h6 {
  color: #6c6965;
  margin-right: 5px;
  display: inline;
}
h5 {
  margin: 0;
  color: #504e4b;
}
.bottom {
  bottom: 0;
  position: fixed;
  background: #cdcabfd0;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  height: 25px;
  text-align: center;
  color: #e2e2e2;
}
.link {
  text-decoration: none;
  margin: 0 30px;
}
.scroll__container {
  position: fixed;
  right: 5%;
  bottom: 5%;
  z-index: 1;
}
.top {
  font-weight: bold;
  font-size: 15px;
  padding: 15px 10px;
  background-color: #98866ae1;
  color: #fff;
  border: 1px solid rgb(210, 204, 193);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}
.top:hover {
  color: #937a5d;
}
